*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-family: 'Poppins', cursive;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.header{
    background: radial-gradient(#fff #ffd6d6);
}

.header .row{
    margin-top: 70px;
}










header{
    background-color: #000000;
    margin: 100px;
}
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-icons{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}
.other-links{
    margin-right: 33px;
}
.other-links i{
    color: gray;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 100px;
    border: 2px solid gray;
    color: gray;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: gray;
    color: white;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: gray;
    color: gray;
}
#btn-login:hover{
    background-color: gray;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid gray;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: gray;
    color: gray;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: gray;
    color: black
}
#btn-signup:hover{
    background-color: gray;
    color: gray;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5Rvh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}
/* home section */
.home-section{
    width: 100%;
    height: 93vh;
    background-color: white;
}
/* navbar */
#navbar{
    background-color: white;
    font-size: 16px;
    font-family: 'Helvetica', serif;

}
#navbar .nav-link{
    color:white;
    font-weight: bold;
    margin-left: 15px;
    transition: 0.5s ease;



}

}
#navbar .nav-link:hover,{
    color: red;
    border-radius: 5px;
}
.dropdown li a{
    color: red;
}
#search-btn{
    color: red;
    border:  1px solid white;
}
#search-btn:hover{
    background-color: white;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: gray;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: gray;
}
.content #shopnow{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid gray;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.content #shopnow:hover{
    background-color: gray;
    color: gray;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content #shopnow{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content #shopnow{
        margin-left: 20px;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 150vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 100vh;
    }
}
/* home content */
/* home section */

/* top cards */
#top-cards{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}
#top-cards .card img{
    height: 60vh;
}
#top-cards h5{
    color: gray;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: gray;
    border: 2px solid gray;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color: gray;
    color: gray;
}
/* top cards */

/* banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./hci/motor.gif);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
gray    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: gray;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: gray;
    border: 2px solid gray;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: gray;
    border: none;
}
/* banner */
/* banner2 */
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./hci/lg.gif);
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
}
.banner2 .content2 h1{
    color: gray;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: gray;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: gray;
    border: 2px solid gray;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: gray;
    border: none;
}
/* banner2 */

/* product cards */
#product-cards{
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
}
#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#product-cards h1{
    margin-top: 30px;
    color: gray;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: gray;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: gray;
    cursor: pointer;
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #black;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid gray;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: gray;
    color: gray;
}
/* product cards */






/* offer */
#offer{
    margin-top: 50px;
}
#offer i{
    font-size: 60px;
    color: black;
}
/* offer */

/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: black;
    font-family: 'Roboto Slab', serif;
}
#footer .footer-top{
    padding: 60px 0 30px;
    background: black;
    color: gray;
}
#footer .footer-top .footer-contact h3{
    color: gray;
    text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin:  0 0 300px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    margin: 0;
    color: gray;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
}
#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    color: red;
    line-height: 1;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 20px;
    transition: 0.5s ease;
}
#footer .copyright{
    text-align: right;
    float: right;
 
}
#footer .credits{
    float: left;
    text-align: center;
}
/* footer */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: black;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}

/* login */
.login{
    width: 50%;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}
#side1{
    background-color: white;
    height: 76vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p{
    color: white;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}
#side2{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color: white;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    margin-left: 10px;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color: white;
    border: none;
    font-weight: bold;
}
@media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    }
}
/* login */

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;    
    font-weight: bold;
    color: black;
}
/* about */

/* contact */
#contact{
    margin-top: 50px;
}
#contact h1{
    color: white;
    text-shadow: 0px 0px 1px black;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
}#messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid black;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#messagebtn button:hover{
    background-color: black;
    color: white;
}
/* contact */
/* footer */
.footer{
    background: black;
    color: white;
    font-family: 'poppins', cursive;
    font-size: 14px;
    padding: 60px 0 20px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper .img{
    margin: 50px;
}
.info h2,p{
    padding: 15px 10px;
}
.info h2{
    font-family: 'poppins', cursive;
    font-size: 30px;
    font-weight: 900;
}
.info p{
    font-size: 20px;
}

.select h1{
    font-family: 'poppins', cursive;
    font-size: 20px;
}

.small{
    padding: 10px;
    width: 90px;
    outline: none;
    font-size: 20px;
}


.select{
    padding: 15px;
}

.qty input{
    padding:10px;
    width: 90px;
    outline: none;
    font-size: 20px;
}
.qty h3{
    font-family: 'poppins', cursive;
    font-size: 18px;
}

.order{
    display: gray;
    text-decoration: none;
    background: white;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.order:hover{
    background: gray;
}

.add{
    display: inline-block;
    text-decoration: none;
    background: gray;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.add:hover{
    background: gray;
}

       .footer{
  background: white;
  color: white;
  font-family: 'poppins', cursive;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: gray;
}
.footer h3{
  color: gray;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
..footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: black;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: right;
}
.offer{
  background: radial-gradient(gray);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: gray;
}
.container h1{
    text-align: center;
}
.container-fluid{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(D:\Website\products.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0vh;
    margin-right: 0vh;
}
